

<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/formulario.css' %}" />
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}" />
<style type="text/css">
.spacing {
    margin-top: 50px
}
</style>
  <div class="container-alta-res spacing">
    <div class="titulo">
      <h2>Contraseña modificada!</h2><br>
    </div>
    <b>
      <p>Su contraseña ha sido cambiada con exito, por favor inicie sesion haciendo click <a href="{% url 'login' %}" >aquí</a></p>
    </b>
 

  </div>
{% endblock %}







