{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}"/>
<div class="container">
    <ul>
        <li class="nav">
            <a href="{% url 'subastas' %}" ><button class="boton-admin">Listado de subastas</button></a> <span class="align-middle">Acceso al listado de administracion de subastas actuales</span>
        </li>
        <li class="nav">
            <div class="align-middle"><a href="{% url 'usuarios' %}" ><button class="boton-admin">Listado de usuarios</button></a> Acceso al listado de administracion de usuarios</div>
        </li>
        <li class="nav">
            <a href="{% url 'alta_residencia' %}" ><button class="boton-admin">Crear residencias</button></a> <span class="align-middle">Dar de alta residencia</span>
        </li>
    </ul>
</div>
{% endblock %}
