{% extends "base.html" %}
{% load static %}
<html>

<head>
    <title>Home Switch Home</title>
</head>

<body>

    {% block content %}
    <link rel="stylesheet" href="{% static 'hsh_css/formulario.css' %}" />
    
        <div class="titulo">
        <h1>Ingrese los datos de la residencia: </h1><br>
        </div>
        <form method="POST" enctype="multipart/form-data" class="container-form">{% csrf_token %}

            {% for field in form %}
            <div class="container-field">
                {{field.label}}:
            </div>
            <div class="container-widget">
                {{field}}
            </div>            
            {% endfor %}
            
            <button type='submit' class="container-widget submitButton" name="btnGuardar" >Guardar residencia</button>
            {% if form.instance.pk != None %}
                <button type='submit' class="container-widget submitButton" name="btnEliminar">Eliminar residencia</button>
            
            {% endif %}
    </form>
    {% endblock %}

</body>
</html>
