{% extends "base.html" %}
{% load static %}
<html>

<head>
    <title>Home Switch Home</title>
</head>

<body>

    {% block content %}
    <link rel="stylesheet" href="{% static 'hsh_css/alta_residencia.css' %}" />
    <div class=" container-form">
        <h1>Ingrese los datos de la residencia: </h1><br>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <!--    {{form.as_p}} //queda reemplazado temporalmente por el css-->
            {% for field in form %}
            <div class="container-field">
                <strong>{{field.label}}: </strong>
                <div class="container-widget">
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <button type='submit' class="submitButton">Guardar residencia</button>
    </div>
    </form>
    {% endblock %}

</body>
</html>