{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/formulario.css' %}" />
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}" />
<style type="text/css">
    .spacing {
        margin-top: 50px
    }
</style>
<div class="container-alta-res">
    <div class="titulo">
        <h2>¿Por qué registrarme?</h2>
        <br>
        Registrándote a HomeSwitchHome, tendrás la posibilidad de acceder a las mejores residencias para tus vacaciones,
         con los mejores precios, y hotsales periódicos. <br>
        ¡La subscripcion es de tan solo {{ subscripcion }}$ mensuales! <br>
        <a href=""><b>Si tienes mas dudas, haz click aqui para ver nuestras preguntas frecuentes.</b></a>
    </div>
</div>

<div class="container-alta-res">
    <div class="titulo">
        <h1>Ingrese los datos: </h1><br>
    </div>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-danger">
                
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                <strong>¡Error!</strong> {{ error|escape }}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="col-md-12">
        <div class="alert alert-dismissable alert-danger">
            
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                ×
            </button>
            <strong>¡Error!</strong> {{ error|escape }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    
<form method="POST" enctype="multipart/form-data" class="container-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="container-field">
        {{field.label}}:
    </div>
    <div class="container-widget">
        {{field}}
    </div>
    {% endfor %}
    <button type='submit' class="container-widget submitButton" name="btnGuardar" >Crear usuario</button>
</form>
</div>

{% endblock %}
