<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Home Switch Home</title>
<link rel="shortcut icon" type="png" href="{% static 'HSH-Logo.png' %}"/>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <style type="text/css">
    .jumbotron {
        background: rgb(182, 210, 238);
        padding-top: 30px;
        padding-bottom: 40px
    }
    .navbar+.jumbotron {
        margin-top: -24px;
        margin-bottom: -10px;
    }

  </style>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark black mb-4">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      {% if user.type == "admin" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administracion' %}">Panel de Administrador</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'detalle_usuario' pk=user.pk %}">Ver Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link float-right" href="{% url 'logout' %}?next=/">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
</nav>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/"><img src="{% static 'media/' %}HSH-Text.svg"
        height="70px" /></a>
  </div>
</div>
{% block content %}{% endblock %}
</body>
</html>
