{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.js' %}" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}"/>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.js' %}" charset="UTF-8"></script>
<style type="text/css">
.spacing {
    margin-top: 50px
}
.datepicker table tr td span.active{
    background: #04c!important;
    border-color: #04c!important;
}
.datepicker .datepicker-days tr td.active {
    background: #04c!important;
}
#week-picker-wrapper .datepicker .datepicker-days tr td.active~td, #week-picker-wrapper .datepicker .datepicker-days tr td.active {
    color: #fff;
    background-color: #04c;
    border-radius: 0;
}

#week-picker-wrapper .datepicker .datepicker-days tr:hover td, #week-picker-wrapper .datepicker table tr td.day:hover, #week-picker-wrapper .datepicker table tr td.focused {
    color: #000!important;
    background: #e5e2e3!important;
    border-radius: 0!important;
}
.datepicker table tr td.disabled{
    color:red;
    background: #ffb4a8;
}
.jumbotron {
    background: rgb(182, 210, 238);
    padding-top: 30px;
    padding-bottom: 40px
}
.navbar+.jumbotron {
    margin-top: -24px;
    margin-bottom: -10px;
}
.input-width {
    width: 220px;
}
.highlight-day{
    background: #28a745;
}
.highlight-day-red{
    background: #f37380;
}
</style>

<div class="container-fluid spacing">
    <div class=row>
        {% if messages %}
        {% for message in messages %}
            <div class="col-md-12">
                {% if message.tags == "success" %} 
                <div class="alert alert-dismissable alert-success">   
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <strong>{{ message }}</strong>
                </div>
                {% else %}
                <div class="alert alert-dismissable alert-danger">   
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <strong>{{ message }}</strong>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
        </div>
        <div class="row container-detalles">
            <div class="col-md-5">
                <div class="media">
                    <img style='height: 100%; width: 100%; object-fit: contain' alt="Responsive image" class="img-fluid.max-width:100"  src = "{% static 'media/' %}{{ residencia.foto }}" />
                </div>
            </div>
            <div class="col-md-7">
                <div>
                    <h2>
                        <b>{{residencia.nombre}}</b> <br>
                    </h2>
                    <p>
                        <b class="texto_detalle"> Ubicación: </b>{{ residencia.ubicacion }} <br>
                        <b class="texto_detalle"> Descripción: </b> {{ residencia.descripcion }}<br>
                    </p>
                </div>
                {% if user.type == "premium" %}
                        <form action="/residencia/alquilar/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="codigo" value="{{ residencia.codigo }}">
                                <div class="form-group" id="week-picker-wrapper">
                                    <label for="week" class="control-label"> <b>Calendario de disponibilidad:</b></label>
                                    <div class="input-group input-width">
                                        <input type="text" id="week-picker" name="week-picker" class="form-control week-picker" placeholder="Ver semanas">
                                    </div>
                                </div>
                                <script>
                                    var weekpicker, start_date, end_date;

                                    function set_week_picker(date) {
                                        start_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay()+1);
                                        end_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay()+7);
                                        weekpicker.datepicker('update', start_date);
                                        weekpicker.val(start_date.getFullYear() + '/' + (start_date.getMonth() + 1) + '/' + start_date.getDate() + ' - ' + end_date.getFullYear() + '/' + (end_date.getMonth() + 1) + '/' + end_date.getDate() );
                                    }

                                    $(document).ready(function () {
                                        weekpicker = $('.week-picker');
                                        console.log(weekpicker);
                                        weekpicker.datepicker({
                                            language: 'es',
                                            format: 'yyyy-mm-dd',
                                            startDate: "{{ comienzo_busqueda }}",
                                            endDate: '+1y',
                                            autoclose: true,
                                            forceParse: false,
                                            container: '#week-picker-wrapper',
                                            beforeShowDay: function(date) {
                                               var month = ("0" + (date.getMonth() + 1)).slice(-2);
                                               var year = date.getFullYear();
                                               var day = ("0" + date.getDate()).slice(-2);

                                               // Change format of date
                                                var newdate = year+"-"+month+'-'+day;
                                                {% for diaAlq in diasAlquilados %}
                                                    var hilightedDay = "{{ diaAlq }}";
                                                    console.log(newdate+ " ? "+ hilightedDay)
                                                    if (newdate == hilightedDay) {
                                                        return {
                                                            enabled: false,
                                                            classes: 'highlight-day-red',
                                                            tooltip: ''
                                                        };
                                                    }
                                                {% endfor %}
                                            }
                                            }).on("changeDate", function(e) {
                                                set_week_picker(e.date);
                                                var fecha = $('#datepicker').val();
                                                $('#fecha-seleccionada').val(fecha);
                                            }).datepicker("update", new Date());
                                            date = new Date();
                                            set_week_picker(new Date(date.getFullYear(), (date.getMonth() +6), ((date.getDate() - date.getDay()) +7)));
                                            var fecha = $('#datepicker').val();
                                            $('#fecha-seleccionada').val(fecha);
                                        });
                                </script>
                        <div class="button-container">
                            <button type="submit" id="alquilarResidencia" class="boton-detalle">Alquilar residencia</button>
                        </div>
                        </form>
                    </div>
                {% endif %}
                        {% if user.type == "admin" %}
                    <div class="button-container">
                        <div id="detalleResidencia">
                            <a href="{% url 'mod_residencia' pk=residencia.pk %}" > <button class="boton-detalle"> Modificar Residencia </button> </a> <br>
                            <a href="{% url 'crear_hotsale' pk=residencia.pk %}" > <button class="boton-detalle"> Crear HotSale </button> </a>                        
                        </div>
                    </div>
                {% endif %}
        </div>
            {% if user.is_authenticated %}
                </div>
                {% if subasta %}
                    <div class="row container-detalles container-puja">
                        <h3>Subasta en curso para la semana del : {{ subasta.semana_alquila }}</h3>
                        {% if subasta.monto_actual == 0 %}
                            <h4 class="texto_detalle"> Monto inicial de subasta: <b>${{ subasta.monto_inicial }}</b></h4>
                        {% else %}
                            <h4 class="texto_detalle"> Puja mas alta en la subasta: <b>${{ subasta.monto_actual }}</b> </h4>
                        {% endif %}
                    {% if user.type == "comun" or user.type == "premium" %}
                            <form action='/detalle_residencia/{{ residencia.codigo }}' method='post'>{% csrf_token %}
                                </br></br>
                                <input class="texto_detalle" name="monto" type="number" placeholder="Ingrese el monto" value=0></input>
                                {{field}}
                                <button type='submit' class="container-widget boton-puja" name="btnGuardar" >Pujar</button>
                            </form>
                            {% if puja.usuario == user %}
                                <p><b><u>Tu puja es la mas alta en esta subasta!</u></b></p>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if user.type == "admin" %}
                        <div class="button-container">
                            <form action="/subastas/cerrar_subasta/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="codigo" value="{{ subasta.codigo }}">
                                <button type="submit" id="cerrarSubasta" class="boton-detalle">Cerrar subasta</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
                {% for hotsale in hotsales %}
                    <div class="row container-detalles container-puja">
                        <h3>Propiedad en HotSale para la semana del: {{ hotsale.fecha }} ¡Aprovecha esta oferta antes que nadie!</h3>
                        <h4 class="texto_detalle"> Precio del HotSale: <b>${{ hotsale.precio }}</b></h4>
                    {% if user.type == "comun" or user.type == "premium" %}
                            <form action='/hotsale/alquilar/' method='post'>{% csrf_token %}
                                </br></br>
                                <input type="hidden" name="codigo" value="{{ hotsale.pk }}">
                                <button type='submit' class="container-widget boton-detalle" name="btnGuardar" >¡Alquilar!</button>
                            </form>
                        </div>
                    {% endif %}
                    {% if user.type == "admin" %}
                        <div class="button-container">
                            <form action="/hotsale/cerrar_hotsale/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="codigo" value="{{ hotsale.pk }}">
                                <button type="submit" id="cerrarSubasta" class="boton-detalle">Cerrar HotSale</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
                    </div>
                </div>
            {% else %}
                    </div>
                </div>
                <div class="container">
                    <div class="alert alert-dismissable alert-danger" >
                        <strong>
                            <a href="{% url 'login' %}" class="alert-link"><span class="glyphicon" ></span>Para alquilar una propiedad debes iniciar sesion</a>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                        </strong>
                    </div>
                </div>
            {% endif %}
    {% if user.type != "premium" and user.type != "admin" %}
        <div class="container">
            <div class="alert alert-dismissable alert-info">
                <b>¿Queres saber como poder alquilar una semana cuando esta no esta en subasta?<br>
                <a href="{% url 'faq_premium' %}">Haz clic aquí para enterarte las ventajas de ser un usuario Premium</a></b><br>
            </div>
        </div>
    {% endif %}
{% endblock %}
