<div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="media">
                    <img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
                    <div class="media-body">
                        <h5 class="mt-0">
                            Nested media heading
                        </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        <div class="media mt-3">
                             <a class="pr-3" href="#"><img alt="Bootstrap Media Another Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-2.jpg" /></a>
                            <div class="media-body">
                                <h5 class="mt-0">
                                    Nested media heading
                                </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="jumbotron">
                    <h2>
                        Hello, world!
                    </h2>
                    <p>
                        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="#">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>




    --------------------------------------------------------



    {% extends "base.html" %}
{% load staticfiles %}
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Home Switch Home</h1>
  </div>
</div>
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}"/>
<div class="container container-catalogo">
    <div class="container-cards">
        <div class="card row">
            <div class="foto-catalogo">
                <img src="{% static 'media/' %}{{ residencia.nombre }}-{{ residencia.ubicacion }}.jpg">
            </div>
            <div class="texto-catalogo">
                Nombre de la residencia: <b>{{ residencia.nombre }}</b><br>
                Ubicación de la residencia: <b>{{ residencia.ubicacion }}</b><br>
                Precio del alquiler por semana: <b>{{ residencia.precio }}</b><br>
                Descripción: <b>{{ residencia.descripcion }}</b>
            </div>
            <div class="button-container">
                {% if user.type == "comun" or user.type == "premium" %}
                    <div id="verSubasta">
                        <button class="boton-detalle">Ver Subasta</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
