{% extends "base.html" %}
{% load staticfiles %}
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}"/>
<style type="text/css">
.spacing {
    margin-top: 50px
}
</style>
<div class="container-fluid spacing">
    <div class=row>
        {% if messages %}
        {% for message in messages %}
            <div class="col-md-12">
                {% if message.tags == "success" %} 
                <!--No muestra los mensajes de error con el alert de tipo success. Hacer un else que muestre los de error.-->
                <div class="alert alert-dismissable alert-success">   
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <strong>{{ message }}</strong>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        {% endif %}
        </div>
    
        <div class="row container-detalles">                
                <div>
                    <h2>
                        <b>Pagina de: {{usuario.nombre}} {{usuario.apellido}}</b> <br>
                    </h2>
                    <p>
                        <!--agregar fecha de creacion de cuenta (publico)
                        agregar marca? de tarjeta de credito? (no el numero)-->
                        <b class="texto_detalle"> Email: </b>{{ usuario.email }} <br>
                        <b class="texto_detalle"> Fecha de creación de cuenta:</b> {{ usuario.date_joined }}<br>
                        {% if request.user == usuario or request.user.type == 'admin' %}
                            <b class="texto_detalle"> Fecha de Nacimiento: </b> {{ usuario.fecha_nacimiento }}<br>
                            {% if usuario.type != 'admin' %}
                                <b class="texto_detalle"> Número tarjeta de crédito: </b> {{ usuario.numero_tarjeta }}<br>
                                <b class="texto_detalle"> Marca de tarjeta de crédito: </b> {{ marca }}<br>
                                {% if request.user == usuario %}
                                    <b class="texto_detalle"> Fecha de vencimiento de tarjeta de crédito: </b> {{ usuario.vencimiento_tarjeta }}<br>
                                    <b class="texto_detalle"> Código de tarjeta de crédito: </b> {{ usuario.codigo_tarjeta }}<br>
                                {% endif %}
                                <b class="texto_detalle"> Creditos disponibles:  </b> {{ usuario.creditos }}<br>
                                <b class="texto_detalle"> Vencimiento de los creditos:  </b> {{ vencimiento_creditos }}<br>
                            {% endif %}
                        {% endif %}
                        <b class="texto_detalle"> Tipo de Usuario:</b> {{ usuario.type}}
                    </p>
                <div class="button-container">
                    {% if request.user == usuario or request.user.type == "admin" %}
                        <div>
                        <a href="/editar_usuario/{{ usuario.pk }}" role="button"><button class="boton-detalle">Editar datos</button></a>
                        </div>
                    {% if request.user == usuario %}
                        <div>
                        <a href="/cambiar_contraseña/{{ usuario.pk }}" role="button"><button class="boton-detalle">Cambiar contraseña</button></a>
                        </div>
                    {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>
    {% if request.user == usuario or request.user.type == 'admin' %}
        {% if usuario.type == "comun" and request.user.type != 'admin' %}
            <div class="container">
                <div class="alert alert-dismissable alert-info">
                    <b><a href="{% url 'faq_premium' %}">Haz clic aquí para enterarte las ventajas de ser un usuario Premium</a></b><br>
                </div>
            </div>
        {% endif %}
        <br><br>
        {% if usuario.type != 'admin' %}
        <h2 style="text-align:center"><b>Alquileres: </b></h2>
            {% if alquileres %}
                {% for alquiler in alquileres %}
                    {% if not alquiler.cancelado or request.user.type == 'admin' %}
                        <div class="row container-detalles">

                            <div class="col-md-4">
                                <div class="foto-catalogo">
                                    <img src="{% static 'media/' %}{{ alquiler.codigo_residencia.foto }}" height="160">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="texto-catalogo">
                                    <h4><b>Residencia:
                                        <a href="{% url 'detalle_residencia' cod=alquiler.codigo_residencia.pk %}" >{{alquiler.codigo_residencia.nombre}}</a></b></h4><br>
                                        <b class="texto_detalle">Ubicacion de la residencia: </b>{{ alquiler.codigo_residencia.ubicacion }}<br>
                                        <b class="texto_detalle">Fecha alquiler: </b>{{ alquiler.fecha }}<br>
                                        {% if alquiler.precio != 0 %}
                                            <b class="texto_detalle">Precio de alquiler: </b>{{alquiler.precio}}<br>
                                        {% else %}
                                            <b class="texto_detalle">Alquiler realizado de modo Premium.</b><br>
                                        {% endif %}
                                        {% if alquiler.cancelado %}
                                            <div class="alert alert-dismissable alert-danger">   
                                                <strong>Este alquiler fue cancelado.</strong>
                                            </div>
                                        {% elif not alquiler.fecha > fecha %}
                                            <div class="alert alert-dismissable alert-info">   
                                                <strong>La semana de alquiler ya paso.</strong>
                                            </div>
                                        {% elif request.user == usuario %}
                                            <div class="button-container" id="detalleResidencia">
                                                <a href="{% url 'confirmar_cancelacion_alquiler' pk=alquiler.pk %}"> <button class="boton-detalle"> Cancelar alquiler. </button> </a>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="row container-detalles">
                    <b class:="texto_detalle">
                        Aún no se ha alquilado ninguna residencia.
                    </b>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}