{% extends "base.html" %}
{% load staticfiles %}
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}"/>


<div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="media">
                    <img style='height: 100%; width: 100%; object-fit: contain' alt="Responsive image" class="img-fluid.max-width:100"  src = "{% static 'media/' %}{{ residencia.foto }}" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="jumbotron">
                    <h2>
                        <b>{{residencia.nombre}}</b> <br>
                    </h2>
                    <p>

                        <b class="texto_detalle"> {{ residencia.ubicacion }} </b> <br>
                        <b class="texto_detalle"> {{ residencia.descripcion }} </b> <br>
                        <b class="texto_detalle"> Precio: ${{ residencia.precio }} </b> <br>
                    </p>
                        {% if user.is_authenticated %}
     
                            {% if subasta %}        
                            
                                {% if subasta.monto_actual == 0 %}
                                <h4 class="texto_detalle"> Monto actual subasta ${{ subasta.monto_inicial }} </h4>
                                {% else %}
                                <h4 class="texto_detalle"> Monto actual subasta ${{ subasta.monto_actual }}</h4>
                            
                            {% endif %}   
                            <form action='/detalle_residencia/{{ residencia.codigo }}' method='post'>{% csrf_token %}
                            <input name="monto" placeholder="Ingrese el monto"></input>
                            <button type='submit' class="container-widget submitButton" name="btnGuardar" >Pujar</button>
                        </form>

                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}"><span class="glyphicon"></span> Para pujar debes iniciar sesion</a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
