{% extends "base.html" %}
{% load staticfiles %}
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}"/>
<style type="text/css">
.spacing {
    margin-top: 40px
}
</style>






<br>
<div class="container-fluid spacing">
    <div class="row container-detalles">
            <div class="col-md-12">


<ul class="nav nav-tabs row spacing" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Todos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Comun</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Premium</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Administradores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deleted-tab" data-toggle="tab" href="#deleted" role="tab" aria-controls="deleted" aria-selected="false">Eliminados</a>
    </li>
    <li>
        <div class="dropdown col-xs-12">
            <button class="btn btn-primary dropdown-toggle col-xs-12" type="button" data-toggle="dropdown">Ordenar
                <span class="caret"></span></button>
                <ul class="dropdown-menu col-xs-12">
                                <li><a class="dropdown-item" href="/listado_usuarios/alfabetico_as">Alfabetico (ascendente)</a></li>
                                <li><a class="dropdown-item" href="/listado_usuarios/alfabetico_des">Alfabetico (descendente)</a></li>
                                <li><a class="dropdown-item" href="/listado_usuarios/fregistro_as">Fecha registro (ascendente)</a></li>
                                <li><a class="dropdown-item" href="/listado_usuarios/fregistro_des">Fecha registro (descendente)</a></li>
                </ul>
        </div>
    </li>
  </ul>
  <br>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">  
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Apellido
                                        </th>
                                        <th>
                                            Fecha registro
                                        </th>
                                        <th>
                                            Creditos
                                        </th>

                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                            {% for user in users %}
                                            {% if user.is_active %}
                                            <tr class={{ user.type }} onclick="window.location='#';">
                                                        <td>
                                                            {{ user.type }}
                                                        </td>
                                                        <td>
                                                            {{ user.email }}
                                                        </td>
                                                        <td>
                                                            {{ user.nombre }}
                                                        </td>
                                                        <td>
                                                            {{ user.apellido }}
                                                        </td>
                                                        <td>
                                                            {{ user.date_joined }}
                                                        </td>
                                                        <td>
                                                            {% if user.type != "admin" %}
                                                            {{ user.creditos}}
                                                            {% endif %}
                                                        </td>
                                                    
                                                           <td><a class="btn btn-primary" href="/usuario/{{ user.pk }}" role="button">Ver</a></td>
                                                        <td><a class="btn btn-primary" href="/editar_usuario/{{ user.pk }}" role="button">Editar</a></td>
                                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                        
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>    
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                    <thead>
                                            <tr>
                                                <th>
                                                    Tipo
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Apellido
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Creditos
                                                </th>
                        
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                <tbody>
                                            {% for user in users %}
                                            {% if user.type == "comun" and user.is_active %}
                                            <tr class={{ user.type }} onclick="window.location='#';">
                                                        <td>
                                                            {{ user.type }}
                                                        </td>
                                                        <td>
                                                            {{ user.email }}
                                                        </td>
                                                        <td>
                                                            {{ user.nombre }}
                                                        </td>
                                                        <td>
                                                            {{ user.apellido }}
                                                        </td>
                                                        <td>
                                                            {{ user.date_joined }}
                                                        </td>
                                                        <td>
                                                                {{ user.creditos }}
                                                            </td>
                                                    
                                                        <td><a class="btn btn-primary" href="/usuario/{{ user.pk }}" role="button">Ver</a></td>
                                                        <td><a class="btn btn-primary" href="/editar_usuario/{{ user.pk }}" role="button">Editar</a></td>
                                                    </tr>  
                                                    {% endif %}                    
                                    {% endfor %}
                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab"> 
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Apellido
                                        </th>
                                        <th>
                                            Fecha registro
                                        </th>
                                        <th>
                                            Creditos
                                        </th>
                
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                            {% for user in users %}
                                            {% if user.type == "premium" and user.is_active %}
                                            <tr class={{ user.type }} onclick="window.location='#';">
                                                        <td>
                                                            {{ user.type }}
                                                        </td>
                                                        <td>
                                                            {{ user.email }}
                                                        </td>
                                                        <td>
                                                            {{ user.nombre }}
                                                        </td>
                                                        <td>
                                                            {{ user.apellido }}
                                                        </td>

                                                        <td>
                                                            {{ user.date_joined }}
                                                        </td>
                                                        <td>
                                                            {{ user.creditos }}
                                                        </td>
                                                        <td><a class="btn btn-primary" href="/usuario/{{ user.pk }}" role="button">Ver</a></td>
                                                        <td><a class="btn btn-primary" href="/editar_usuario/{{ user.pk }}" role="button">Editar</a></td>
                                                    </tr>  
                                                    {% endif %}                    
                                    {% endfor %}
                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>     
    </div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab"> 
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Apellido
                                        </th>
                                        <th>
                                            Fecha registro
                                        </th>

                                      
                
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                            {% for user in users %}
                                            {% if user.type == "admin" and user.is_active %}
                                            <tr class={{ user.type }} onclick="window.location='#';">
                                                        <td>
                                                            {{ user.type }}
                                                        </td>
                                                        <td>
                                                            {{ user.email }}
                                                        </td>
                                                        <td>
                                                            {{ user.nombre }}
                                                        </td>
                                                        <td>
                                                            {{ user.apellido }}
                                                        </td>
                                                        <td>
                                                            {{ user.date_joined }}
                                                        </td>
                                                        
                                                        <td><a class="btn btn-primary" href="/usuario/{{ user.pk }}" role="button">Ver</a></td>
                                                        <td><a class="btn btn-primary" href="/editar_usuario/{{ user.pk }}" role="button">Editar</a></td>
                                                    </tr>  
                                                    {% endif %}                    
                                    {% endfor %}
                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
    <div class="tab-pane" id="deleted" role="tabpanel" aria-labelledby="deleted-tab"> 
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido
                                    </th>
                                    <th>
                                        Fecha registro
                                    </th>

                                    <th>
                                        Creditos
                                    </th>
            
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for user in users %}
                                        {% if not user.is_active %}
                                        <tr class="table-secondary" onclick="window.location='#';">
                                                    <td>
                                                        {{ user.type }}
                                                    </td>
                                                    <td>
                                                        {{ user.email }}
                                                    </td>
                                                    <td>
                                                        {{ user.nombre }}
                                                    </td>
                                                    <td>
                                                        {{ user.apellido }}
                                                    </td>
                                                    <td>
                                                        {{ user.date_joined }}
                                                    </td>
                                                    <td>
                                                            {% if user.type != "admin" %}
                                                            {{ user.creditos }}
                                                            {% endif %}
                                                        </td>
                                                    <td><a class="btn btn-primary" href="/usuario/{{ user.pk }}" role="button">Ver</a></td>
                                                    <td><a class="btn btn-primary" href="/editar_usuario/{{ user.pk }}" role="button">Editar</a></td>
                                                </tr>  
                                {% endif %}
                                {% endfor %}
                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>
  </div>
  
  <script>
    $(function () {
      $('#myTab li:last-child a').tab('show')
    })
  </script>
  </div>
  </div>
</div>
{% endblock %}

