{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/formulario.css' %}" />
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}" />
<style type="text/css">
.spacing {
    margin-top: 50px
}
</style>


{% if request.user == usuario or request.user.type == 'admin' %}
    
        <div class="container-alta-res">
            <div class="titulo">
            <h1> {{form.email.value}} </h1><br>
            </div>

            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="col-md-12">
                    <div class="alert alert-dismissable alert-danger">
                        
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        <strong>¡Error!</strong> {{ error|escape }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="col-md-12">
                <div class="alert alert-dismissable alert-danger">
                    
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <strong>¡Error!</strong> {{ error|escape }}
                </div>
            </div>
            {% endfor %}
            {% endif %}  

            <form method="POST" enctype="multipart/form-data" class="container-form">{% csrf_token %}
                
 <!--                

                
                <div class="container-field">
                    {{form.nombre.label}}:
                </div>
                <div class="container-widget">
                    {{form.nombre}}
                </div>

                <div class="container-field">
                    {{form.apellido.label}}:
                </div>
                <div class="container-widget">
                    {{form.apellido}}
                </div>
                
                {% if request.user == usuario %}
                {% if request.user.type != "admin" %}
                <div class="container-field">
                    {{form.numero_tarjeta.label}}:
                </div>
                <div class="container-widget">
                    {{form.numero_tarjeta}}
                </div>

                <div class="container-field">
                    {{form.vencimiento_tarjeta.label}}:
                </div>
                <div class="container-widget">
                    {{form.vencimiento_tarjeta}}
                </div>
                
                <div class="container-field">
                    {{form.codigo_tarjeta.label}}:
                </div>
                <div class="container-widget">
                    {{form.codigo_tarjeta}}
                </div>

                {% endif %}

                      <div class="container-field">
                          {{form.password.label}}:
                      </div>
                      <div class="container-widget">
                          {{form.password}}
                      </div>
                      <div class="container-field">
                          {{form.confirm_password.label}}:
                      </div>
                      <div class="container-widget">
                          {{form.confirm_password}}
                      </div>

                {% endif %}
                 -->
                 {% for field in form %}
    <div class="container-field">
        {{field.label}}:
    </div>
    <div class="container-widget">
        {{field}}
    </div>
    {% endfor %}
    <button type='submit' class="container-widget submitButton" name="btnGuardar" >Crear usuario</button>
<!-- 
                    <button type='submit' class="container-widget submitButton" name="btnModificar" onclick="return confirm('¿Desea guardar los cambios realizados?')">Guardar cambios</button>
                    <button type='submit' class="container-widget submitButton" name="btnDescartar" onclick="return confirm('¿Desea descartar los cambios realizados?')">Descartar cambios</button>
 -->
            </form>
        </div>
{% endif %}

{% endblock %}
