

<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/formulario.css' %}" />
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}" />
<style type="text/css">
.spacing {
    margin-top: 50px
}
</style>
  <div class="container-alta-res spacing">
    <div class="titulo">
      <h2>Recuperar contraseña</h2><br>
    </div>
    <b>
      <p>Ingrese su direccion de correo y le contactaremos con los pasos a seguir para recuperar su contraseña</p>
    </b>
    {% if form.errors %}
      <div class="col-md-12">
        <div class="alert alert-dismissable alert-danger">        
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
          </button>
          <strong>¡Error!</strong> Email y/o contraseña incorrectos.
        </div>
      </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="container-form" >
      {% csrf_token %}
        <div class="container-widget">
        {{ form.as_p }}
      </div>
      <br>
      <button class="container-widget boton-detalle" type="submit">Enviar</button>
    </form>

  </div>
{% endblock %}







