

<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'hsh_css/formulario.css' %}" />
<link rel="stylesheet" href="{% static 'hsh_css/index.css' %}" />
<style type="text/css">
.spacing {
    margin-top: 50px
}
</style>
  <div class="container-alta-res spacing">
    <div class="titulo">
      <h2>Todo listo!</h2><br>
    </div>
    <b>
      <p>Por favor revise su correo para saber cómo proseguir</p>
    </b>
 

  </div>
{% endblock %}







