.container-form {
    padding-left:2.5%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-row-gap:16px;
    grid-auto-rows:auto;
}

.titulo{
    padding-left:2.5%
}

.container-alta-res {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 2%;
    font-size: 20px;
    border: 1px solid black;
    color: black;
    width: 800px;
    box-shadow: 5px 5px 2px dimgrey;
}

.container-field{
    font-weight:bold;
    grid-column: 1 / 2;
    grid-row:auto/auto;
}

.container-widget{
    grid-row:auto/auto;
    grid-column: 2/3;
}

.submitButton{
    width: 300px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: Calibri;
    font-size: 20px;
    float: right;
    margin-top: 4px;
    margin-bottom: 40px;
}