
.card {
    padding: 2%;
    font-size: 20px;
    border: 1px solid black;
    color: black;
    height: 200px;
    box-shadow: 5px 5px 2px dimgrey;
    position: relative;
}

.container-detalles {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 1%;
    box-shadow: 5px 5px 2px dimgrey;
    border: 1px solid black;
    position: relative;
}

.container-puja {
    background-color: #c3e6cb;
    width: 30%;
}

.button-container {
    position: absolute;
    right: 2%;
    bottom: 6%;
}
.boton-detalle {
    padding-right: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: Calibri;
    float: right;
    width: 160px;
    margin-top: 4px;
}

.boton-puja {
    padding-right: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: Calibri;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.boton-detalle-tabla {
    padding-right: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: Calibri;
    float: right;
    width: 160px;
    margin-top: 4px;
}

.boton-admin {
    background-color: dodgerblue;
    color: white;
    font-family: Calibri;
    float: right;
    width: 160px;
    margin-top: 4px;
}

.right-nav {
    position: absolute;
    right: 0%;
}

.left-nav {
    position: absolute;
    left: 0%;
    height: auto;
}

.container-catalogo {
    padding-left: 5%;
    padding-right: 5%;
}

.container-cards {
    padding-bottom: 15px;
}

.foto-catalogo {
    float: left;
    margin-right: 2%;
    width: auto;
    max-height: 160px;
}

.foto-detalle {
    width: auto;
    height: auto;
}

img {
    width: auto;
    max-height: 100%;
}

.texto-catalogo {
    float: left;
}

.texto_detalle {

}