
.card {
    padding: 2%;
    font-size: 20px;
    border: 1px solid black;
    color: black;
    height: 200px;
    box-shadow: 5px 5px 2px dimgrey;
    position: relative;
}

.button-container {
    position: absolute;
    right: 2%;
    bottom: 6%;
}
.boton-detalle {
    padding-right: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: Calibri;
    float: right;
    width: 160px;
    margin-top: 4px;
}

.right-nav {
    position: absolute;
    right: 0%;
}

.container-catalogo {
    padding-left: 5%;
    padding-right: 5%;
}

.container-cards {
    padding-bottom: 15px;
}

.foto-catalogo {
    float: left;
    margin-right: 2%;
    max-width: 100%;
    max-height: 100%;
}

img {
    width: auto;
    max-height: 160px;
}

.texto-catalogo {
    float: left;
}

.p {
    text: bold;
}